{% extends 'base.html.twig' %}

{% block title %}New MetodoChequeCartera{% endblock %}

{% block body %}
    <h1>Create new MetodoChequeCartera</h1>

    {{ include('finanzas/metodo_cheque_cartera/_form.html.twig') }}

    <a href="{{ path('app_finanzas_metodo_cheque_cartera_index') }}">back to list</a>
{% endblock %}
