{% extends 'navBar.html.twig' %}

{% block title %}Modificar articulo{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container pt-4 pl-2">
        <div class="h5">
            Modificar Articulo / Concepto
            <hr>
        </div>

        {{ include('administracion/articulo_concepto/_form.html.twig', {'button_label': 'Modificar'}) }}
    </div>
{% endblock %}
