{% extends 'navBar.html.twig' %}

{% block title %}Editar{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container pt-4 pl-2">
    <div class="h5">
        Modificar {{ label }}
        <hr>
    </div>

    {{ include('administracion/cliente/_form.html.twig', {'button_label': 'Modificar'}) }}

{% endblock %}
