{% extends 'navBar.html.twig' %}

{% block title %}EmpresaGrupo index{% endblock %}

{% block body %}

    <h1>Actualizar Aplicacione3s</h1>

    <form method="post">

        <input type="submit" value="Actualizar Aplicaciones" class="btn btn-primary">

    </form>
{% endblock %}
