{% extends 'base.html.twig' %}

{% block title %}ComprobanteCliente index{% endblock %}

{% block body %}
    <h1>ComprobanteCliente index</h1>

    <form method="post">

        <input type="submit" value="Actualizar Aplicaciones" class="btn btn-primary">

    </form>
{% endblock %}
