{% extends 'base.html.twig' %}

{% block title %}Edit ComprobanteProveedor{% endblock %}

{% block body %}
    <h1>Edit ComprobanteProveedor</h1>

    {{ include('administracion/comprobante_proveedor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_administracion_comprobante_proveedor_index') }}">back to list</a>

    {{ include('administracion/comprobante_proveedor/_delete_form.html.twig') }}
{% endblock %}
