{% extends 'navBar.html.twig' %}

{% block title %}Modificar empresa del grupo{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container pt-4 pl-2">
    <div class="h5">
        Modificar empresa del grupo
        <hr>
    </div>

    {{ include('administracion/empresa_grupo/_form.html.twig', {'button_label': 'Modificar'}) }}

{% endblock %}
