{% extends 'base.html.twig' %}

{% block title %}Editar Tipo Retencion{% endblock %}

{% block body %}
    <h1>Editar Tipo Retencion</h1>

    {{ include('finanzas/tipo_retencion/_form.html.twig', {'button_label': 'Update'}) }}
    
{% endblock %}
