{% extends 'navBar.html.twig' %}

{% block title %}Modificar Tipo Retencion{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container pt-4 pl-2">
        <div class="h5">
            Modificar Tipo Retencion
            <hr>
        </div>

        {{ include('finanzas/tipo_retencion/_form.html.twig', {'button_label': 'Update'}) }}

        </div>
    
{% endblock %}
