<form method="post" action="{{ path('app_finanzas_metodo_transferencia_delete', {'id': metodo_transferencium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ metodo_transferencium.id) }}">
    <button class="btn">Delete</button>
</form>
