<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Sistema MB{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}


<link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


            <style type="text/css">

                #example {
                          font-family: 'Roboto', sans-serif;
                          font-size: 10px;
                        }

                .form-input {
                          font-family: 'Roboto', sans-serif;
                          font-size: 10px;
                        }
                .font-table {
                          font-family: 'Roboto', sans-serif;
                          font-size: 12px;
                        }
                .inherit {
                          font-size: inherit;
                        }

            body {
                    background-color: #fff !important;
                }

                .back{
                        background-color: #E8E8E8 !important;
                }


            </style>

        {% endblock %}

        {% block javascripts %}


                {% block importmap %}
                    {{ importmap('app') }}
                {% endblock %}

        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
                crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js" integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D" crossorigin="anonymous"></script>

        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.4/bootbox.min.js" integrity="sha512-l9O8NTlhknUJDJQlUVeavXJrtGEEYma4O29lRjEV7mO6DxXVvX9SWEIfnAlpnf+2T8LHTfsVuzttCDEMpIyaew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% block javascripts_footer %}

            <script type="text/javascript">
                                    $( document ).ready(function() {
                                                                    $('.data-table').DataTable({
                                                                                                fixedHeader: true,
                                                                                                paging: true,
                                                                                                responsive: true,
                                                                                                language: {
                                                                                                    url: '{{ asset('i18n/spanish.json') }}'
                                                                                                }

                                                                                            });
                                                                    });
            </script>

        {% endblock %}
        
    </body>
</html>
