{% extends 'base.html.twig' %}

{% block title %}Edit MovimientoFacturaRecibo{% endblock %}

{% block body %}
    <h1>Edit MovimientoFacturaRecibo</h1>

    {{ include('finanzas/movimiento_factura_recibo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_finanzas_movimiento_factura_recibo_index') }}">back to list</a>

    {{ include('finanzas/movimiento_factura_recibo/_delete_form.html.twig') }}
{% endblock %}
