{% extends 'navBar.html.twig' %}

{% block title %}Modificar Precio Venta{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container pt-4 pl-2">
        <div class="h5">
            Modificar Precio Venta
            <hr>
        </div>
    {{ include('administracion/articulo_concepto_cliente/_form.html.twig', {'button_label': 'Update'}) }}

</div>
{% endblock %}
