{% extends 'navBar.html.twig' %}

{% block title %}Nueva {% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container pt-4 pl-2">
        <div class="h5">
            Nuevo Precio Venta
            <hr>
        </div>


        {{ include('administracion/articulo_concepto_cliente/_form.html.twig') }}

        </div>


{% endblock %}
