{% extends 'base.html.twig' %}

{% block title %}Edit MetodoCheque{% endblock %}

{% block body %}
    <h1>Edit MetodoCheque</h1>

    {{ include('finanzas/metodo_cheque/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_finanzas_metodo_cheque_index') }}">back to list</a>

    {{ include('finanzas/metodo_cheque/_delete_form.html.twig') }}
{% endblock %}
