{% extends 'navBar.html.twig' %}

{% block title %}Editar Empleado{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container pt-4 pl-2">
        <div class="h5">
            Modificar Empleado
        </div>
        <hr>

        {{ include('rrhh/puesto_trabajo/_form.html.twig', {'button_label': 'Modificar'}) }}

        <a href="{{ path('app_r_r_h_h_puesto_trabajo_index') }}">back to list</a>
    </div>
{% endblock %}
