{% extends 'navBar.html.twig' %}

{% block title %}New PuestoTrabajo{% endblock %}

{% block body %}
    <div class="container">
        {{ parent() }}
        <h1>Create new PuestoTrabajo</h1>

        {{ include('rrhh/puesto_trabajo/_form.html.twig') }}

        <a href="{{ path('app_r_r_h_h_puesto_trabajo_index') }}">back to list</a>
    </div>
{% endblock %}
