{% extends 'navBar.html.twig' %}

{% block title %}Nuevo Puesto de Trabajo{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container pt-4 pl-2">
        
        <span class="h5">Create new PuestoTrabajo</span>

        {{ include('rrhh/puesto_trabajo/_form.html.twig') }}
    </div>
{% endblock %}
